/* section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;

} */
.notifikasi {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 350px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 35px;
    margin: auto;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
}

.notifikasi .icon {
    margin-top: 20px;
    font-weight: bold;
    font-size: 23px;
    /* border: 10px solid gray; */
    text-align: center;

}

.notifikasi .icon p {
    font-size: 20px;
    /* border: 10px solid gray; */
    text-align: center;
}

.notifikasi .icon svg {
    width: 115px;
    height: 115px;
    color: #0466ED;
}

.notifikasi .icon .gagal {
    width: 115px;
    height: 115px;
    color: red;
}

.notifikasi .lanjut {
    font-size: 16px;
    width: 139px;
    height: 48px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    background-color: #0466ED;
    color: #ffffff;
    margin-top: 15px;
}