
/* ||============|| CSS FORM ABSENSI ||============|| */

.wrapper {
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 20px;
    border-radius: 35px;
    margin: 0 auto;
}

.konten .judul-form h1 {
    font-size: 23px;
    padding-top: 20px;
    padding-left: 140px;
    color: #0466ED;
}
.konten .judul-form h2 {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 140px;
    font-size: 34px;
    font-weight: bold;
}
.konten .wrapper h3 {
    font-size: 20px;
    font-weight: bold;
}
.konten .wrapper h4 {
    font-size: 12px;
}

.submit {
    background: #0466ED;
    color: white;
    /* font-weight: bold; */
    width: 162px;
    height: 48px;
    border-radius: 14px;
    border: none;
    cursor: pointer;

}


.konten .wrapper .form-group {
    font-size: 14px;
}

/* responsif */
@media screen and (min-width: 576px) {
    .wrapper {
        width: 65%;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 30%;
    }
}

.signature-pad h1{
    font-size: 14px;
}
.signature-container {
    border: 2px solid #000;
    width: 100%;
    max-width: 400px;
    height: 200px;
    position: relative;
    margin: 0 auto;
}

.signature-canvas {
    border: 1px solid #ccc;
}

.signature-button {
    margin-top: 10px;
}