*{
    font-family: 'Poppins', sans-serif;
}
.content {
    background-color: #eff2f5;
    padding: 5px;
}

.content .frame {
    flex-direction: column;
    gap: 20px;
    top: 170px;
    left: 56px;
    display: flex;
    align-items: flex-start;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content .div-1 {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: flex-start;
}

.content .pilih-status {
    position: relative;
    width: fit-content;
    margin-top: -1.15px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #0466ed;
    font-size: 22.9px;
    letter-spacing: 0;
    line-height: normal;
}

.content .silahkan-pilih-anda {
    max-width: 100% ;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 34.4px;
    letter-spacing: 0;
    line-height: normal;
}

.content .frame-2 {
    gap: 10px;
    margin: 50px 0px 100px 0px;
    top: 270px;
    left: 285px;
    display: flex;
    align-items: flex-start;
    justify-content: center;   
    -webkit-animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-fwd-top 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.content .what-we-do-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}

.content .activity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: auto;
    gap: 11.46px;
    padding: 30px;
    flex: 0 0 auto;
    background-color: #0466ed;
    border-radius: 20px;
    margin-bottom: 20px;
}

.custom-icon-1{
    font-size: 32px;
}

.custom-icon-2{
    font-size: 32px;

}

.content .grow-your-business {
    width: fit-content;
    margin-top: -1.15px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 27.5px;
    letter-spacing: 0;
    line-height: normal;
}

.content .we-help-identify-the {
    width: 100%;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: normal;
}

.content .learn-more-btn {
    display: flex;
    align-items: center;
    gap: 11.46px;
    padding: 17.19px 22.93px;
    flex: 0 0 auto;
    margin-bottom: -0.77px;
    border-radius: 11.46px;
}

.content .learn-more {
    width: fit-content;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20.6px;
    letter-spacing: 0;
    line-height: normal;
}

.content .vector {
    width: 20.63px;
    height: 18.34px;
    margin-right: -1.15px;
}

.content .heart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11.46px;
    padding: 20px;
    flex: 0 0 auto;
    background-color: #0466ed;
    border-radius: 20px;
}

@media (max-width: 767px) {
    .content .frame-2 {
        margin-left: 0;
        margin-top: 20px;
    
    }

    .content .silahkan-pilih-anda {
        max-width: 100%;
    }

    .content .what-we-do-card {
        width: 100%;
    }
}

@-webkit-keyframes slide-in-fwd-top {
    0% {
        -webkit-transform: translateZ(-1400px) translateY(-800px);
        transform: translateZ(-1400px) translateY(-800px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-fwd-top {
    0% {
        -webkit-transform: translateZ(-1400px) translateY(-800px);
        transform: translateZ(-1400px) translateY(-800px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

 @keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}